@import "../../base.scss";

.app-input {
  position: relative;
  font-size: 17px;
  letter-spacing: 0px;
  color: #3c3c3c;
  padding-top: 12px;
  width: 100%;

  input,
  .ant-input-number {
    font-size: 17px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
    padding: 0 0 0px 0;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none !important;
    }
  }

  .ant-input-number {
    .ant-input-number-handler-wrap {
      display: none;
    }
    input {
      border: none;
    }
  }

  .label {
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s ease all;
    color: app-color("tertiary");
  }

  .label-float {
    transform: translateY(-26px);
    font-size: 13px;
  }
}
