@import "../../../base.scss";

.app-checkout__content {
  .app-steps {
    margin-bottom: 56px;
  }

  .ant-form-item {
    margin-bottom: 64px;
  }

  .ant-select {
    font-size: 17px;
    color: #3C3C3C;

    .ant-select-selector {
      border-top: none;
      border-left: none;
      border-right: none;
      padding-left: 0;
      padding-right: 0;
    }

    &:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: #d9d9d9;
    }

    &.ant-select-focused.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      box-shadow: none;
    }

    .ant-select-selection-search {
      left: 0;
    }

    .ant-select-selection-placeholder {
      opacity: 1;
      padding: 0;
      color: app-color("tertiary");
    }
  }

  @media (max-width: 768px) {
    .app-steps {
      display: none;
    }

    .ant-form-item {
      margin-bottom: 29px;
    }
  }
}
