@import "../../index.scss";

.app-link {
  font-size: 13px;
  letter-spacing: -0.01px;
  color: app-color("secondary");
  text-decoration: none;
  font-family: Verdana;
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
  padding: 0;
  height: auto;

  & > .anticon + span {
    margin-left: 14px;
  }

  &.ant-btn-background-ghost:hover,
  &.ant-btn-background-ghost:focus {
    color: app-color("secondary");
  }
}
