@import "../../common/variables.scss";

.app-link {
  font-size: 13px;
  letter-spacing: -0.01px;
  color: app-color("secondary");
  text-decoration: none;
  cursor: pointer;

  & > .anticon + span {
    margin-left: 14px;
  }

  &.ant-btn-background-ghost.ant-btn-link:hover,
  &.ant-btn-background-ghost.ant-btn-link:focus {
    color: app-color("secondary");
  }
}
